.auth-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: transparent;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
  }
  
  
  