.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.content {
  text-align: center;
  z-index: 1;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #00000;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #00000;
}
