.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffff;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  height: 40px;
}

.navbar-title {
  color: black;
}
