.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Align text to center */
  width: 100%; /* Full width within its grid cell */
  max-width: 300px; /* Restrict maximum size */
  margin: 0 auto; /* Center the card horizontally */
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.card .card-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px; /* Space between buttons */
}

.card .edit-btn,
.card .delete-btn {
  background-color: #18d4d6;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card .delete-btn {
  background-color: #f44336;
}

.card .edit-btn:hover {
  background-color: #0ebec0;
}

.card .delete-btn:hover {
  background-color: #e53935;
}
